{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block title_block%}
Projects
{% endblock %}

{% block body_block %}
	<div class="container">
		<article class="projects">
			<a href="https://karanraghani.pythonanywhere.com/rango/"><h1>Rango</h1></a>
			<h3>Rango is a website which contains links to web pages, which users can
				add. The pages can be further divided into categories created by the
				user. User can also search for a particular page within website using
				search feature</h3>
		</article>	
		<article class="projects">
			<a href="https://vritant.herokuapp.com/"><h1>Vritant</h1></a>
			<h3>Blogging website, with features such as user authentication, user
				comments, darft and published modes.</h3>
		</article>
		<article class="projects">
			<a href="https://pollstation.herokuapp.com/"><h1>Poll Station</h1></a>
			<h3>Website where users can hold polls, share their polls with friends and
				check out results of the various polls happening</h3>
		</article>
	</div>
{% endblock %}