html{
	height: 100%;
}
body{
	text-align: center;
	color: #F8F8FF;
	font-family: 'Karla', sans-serif;
	height: 100%;
	margin: 0;
}
.base-container{
	background: linear-gradient(#279cbf, #deebf1);
	/*background-image: url("background.jpg");*/
}
.container{
	padding: 12.5%;
}
.about_me{
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 20px;	
}
.about_me_links{
	font-size: 20px;
	margin-bottom: 6px;
	text-decoration: none;
	display: block;
	outline:none
}
.projects{
	border: 2.5px solid #F8F8FF;
	box-sizing: border-box;
	border-radius: 25px;
	display: block;
	position: relative;
	margin: 5%;	
}
a{
	text-decoration: none;
	outline:none;
	color:inherit;
}
a:hover{
	color: darkblue;
}
.name_header{
	font-size: 36px;
}
.column {
    float: left;
    width: 50%;
    border-radius: 25px;
}
.left{
	background-color: white;
    color: #6fbbd2;
}
.contact_details{
	display: block;
	padding: 25px;
}
div.nav-container a {
	overflow: hidden;
	background-color: transparent;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	margin: 0 auto;
	float: none;
	display: block;
}
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    display: block;

}
label {

    display: block;

}
form {

    border: 2px solid whitesmoke;
    padding: 21px;
	margin: 5px;
    border-radius: 25px;

}